<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
/*
    Drools5 Integration Helper
    Copyright (C) 2009  Mathieu Boretti mathieu.boretti@gmail.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

 */
 -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- threshold : Minimal level for all loggers.
				 All messages below this level will be ignored by all loggers.
	 debug : Specify to log4j to log internal operations -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all" debug="true">

	<!-- Appenders and Loggers Declarations -->

	<!--
		 Pattern Layout (http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html)
		 %c : logger name
		 %m : journaling message
		 %n : new line specific to the platform
		 %p : event severity level
		 %t : the thread that generated the logging event
		 %d : date of the logging event
	-->
	<!-- Appender to logs on console -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyyMMddHHmmssSSS} [%-5t] - [%-5p] - [%-5c:%L] - %m%n"/>
		</layout>
	</appender>

	<root>
		<priority value="debug"/>
		<appender-ref ref="STDOUT"/>
	</root>

</log4j:configuration>
